.Spades, .Clubs    { color: black;   }
.Hearts, .Diamonds { color: darkred; }
.Unknown           { color: grey;    }
.gold { background-color: gold; }

#status {
	position: relative;
	padding: 0.1em 0.5em;
	font-size: large;
	text-align: left;
}
#status.Disconnected, #status.Connecting { background-color: #445; }
#status.Connected,    #status.LoggedIn   { background-color: #006; }
#status.ConnectionFailed                  { background-color: #602; }

.clock {
	position: absolute;
	right: 1em;
}

#exchange {
	width: 100%;
	padding: 0 1em 1em 1em;
}
table#market {
}
table#market td {
	padding: 0.05em 0.8em;
	font-size: 18pt;
	text-align: center;
}
tr.sell  td { background-color: #313; }
tr.buy   td { background-color: #133; }
tr#suits td { background-color: #224; }

tr#ordersell input, tr#orderbuy input {
	width: 2em;
	margin: 0;
	padding: 0;
	color: white;
	border: 0;
	text-align: center;
	font-size: 18pt;
}
tr#ordersell input { background-color: #535; }
tr#orderbuy  input { background-color: #355; }

#tape {
	display: block;
	min-width: 15em;
	height: 19em;
	overflow-y: scroll;
	background-color: #224;
}
#tape td {
	padding: 0 0.2em;
}
#tape .oid, #tape .price {
	text-align: center;
	width: 1em;
}
#tape .buy  { color: #0f4; }
#tape .sell { color: #f04; }

div#infoboxes .name {
	padding: 0 0.5em;
	font-size: 0.8em;
}
.score {
	float: right;
	color: black;
	font-size: 0.8em;
}
.first  { background-color: gold; }
.second { background-color: silver; }
.third  { background-color: brown; }
.last   { background-color: #f00; color: white; }
div#others > div, div.myself {
	text-align: left;
	display: inline-block;
	vertical-align: top;
	background-color: #224;
}
div#others > .left {
	float: left;
	margin-left: 3em;
}
div#others > .middle {
}
div#others > .right {
	float: right;
	margin-right: 3em;
}
div.myself {
	margin-top: 0.5em;
	font-size: 2em;
}
