body {
	color: white;
	background-color: #001;
}
div#container {
	width: 45em;
	margin: auto;
	padding-bottom: 1em;
	background-color: #002;
	text-align: center;
}
input {
	margin: 0;
	padding: 0;
	border: 0;
}
input#connectTo {
	margin-left: 0.5em;
	padding-left: 0.2em;
	background-color: #ccc;
}
input#login {
	width: 7em;
}
.me {
	color: #000;
	background-color: #99f;
}
.them1 {
	color: #ff6;
}
.them2 {
	color: #6ff;
}
.them3 {
	color: #f6f;
}
p#status {
	position: relative;
	padding: 0.1em 0.5em;
	font-size: large;
	text-align: left;
}
p#status.Disconnected, p#status.Connecting {
	background-color: #445;
}
p#status.Connected, p#status.LoggedIn {
	background-color: #006;
}
p#status.ConnectionFailed {
	background-color: #602;
}
button#readybutton {
	border: 0;
	margin: 0.2em 0.5em;
	color: white;
	background-color: #004;
}
button#readybutton:hover {
	background-color: #006;
}
span.clock {
	position: absolute;
	right: 1em;
}
div#exchange {
	padding-bottom: 0.5em;
	text-align: center;
}
table#market {
	display: inline-block;
}
table#market td {
	padding: 0.05em 0.8em;
	font-size: 18pt;
	text-align: center;
}
tr.sell td, tr#ordersell td {
	background-color: #313;
}
tr.buy td, tr#orderbuy td {
	background-color: #133;
}
tr#suits td {
	background-color: #224;
}
.Spades, .Clubs {
	color: black;
}
.Hearts, .Diamonds {
	color: darkred;
}
.Unknown {
	color: grey;
}
tr#ordersell input, tr#orderbuy input {
	width: 2em;
	margin: 0;
	padding: 0;
	color: white;
	border: 0;
	text-align: center;
	font-size: 18pt;
}
tr#ordersell input {
	background-color: #535;
}
tr#orderbuy input {
	background-color: #355;
}
table#tape {
	display: inline-block;
	height: 18em;
	min-width: 15em;
	margin-left: 1em;
	overflow-y: scroll;
	background-color: #224;
}
table#tape td {
	padding: 0 0.2em;
}
table#tape td.buy {
	color: #0f4;
}
table#tape td.sell {
	color: #f04;
}
td.price {
	text-align: center;
}
div#infoboxes .name {
	padding: 0 0.5em;
	font-size: 0.8em;
}
.score {
	float: right;
	color: black;
	font-size: 0.8em;
}
.first { background-color: gold; }
.second { background-color: silver; }
.third { background-color: brown; }
.last { background-color: #f00; color: white; }
div#others > div, div.myself {
	text-align: left;
	display: inline-block;
	background-color: #224;
}
div#others > .left {
	float: left;
	margin-left: 3em;
}
div#others > .middle {
}
div#others > .right {
	float: right;
	margin-right: 3em;
}
div.myself {
	margin-top: 0.5em;
	font-size: 2em;
}
div#historycmd {
	width: 40em;
	display: inline-block;
	text-align: left;
}
ul#history {
	font-size: small;
	height: 8em;
	overflow-y: scroll;
	background-color: #224;
	list-style-type: none;
	padding-left: 0.5em;
	margin-bottom: 2px;
}
li.broadcast {
	font-weight: bold;
}
input#cmdline {
	border: 1px solid #669;
	padding: 0.1em 0.5em;
	background-color: #006;
	color: white;
	width: 100%;
}
input#cmdline:disabled {
	background-color: #223;
}
